<div class="container">
  <div class="row">
    <div class="col-6 input-area">  
      <h3>Enter new User Data</h3>
      <input [(ngModel)] = "name"  type="text" placeholder = "Enter Name" [disabled] = 'updateUser'>
      <input [(ngModel)] = "age"  type="number" placeholder = "Enter Age" [disabled] = 'updateUser'>
      <input [(ngModel)] = "city"  type="text" placeholder = "Enter City" [disabled] = 'updateUser'>
      <button class="btn-primary btn" (click) = "onAddUser()" [disabled] = 'updateUser'>Add User</button>

      <div *ngIf = 'updateUser' class="col">
        <h3>Update User Data</h3>
        <input [(ngModel)] = "selectedUser.name"  type="text" placeholder = "Enter Name">
        <input [(ngModel)] = "selectedUser.age"  type="number" placeholder = "Enter Age">
        <input [(ngModel)] = "selectedUser.city"  type="text" placeholder = "Enter City">
        <button class="btn-primary btn" (click) = "onFinishUpdateUser()">Update User</button>
      </div>
    </div>

    <div class="col-6">
      <h3>Users List</h3>
      <div *ngFor = "let user of userSet; let i = index">
        <app-list [currentUser] = "user"
        (userRemoveRequest) = "onRemoveUserRequest($event)"
        (userUpdateRequest) = "onUpdateUserRequest($event)"></app-list>
      </div>
    </div>
    
  </div>
</div>